/* Colors */

$white: #FFFFFF;
$black: #202020;
$orange: #FF6E30;
$darkOrange: #CE4307;
$brown: #BC572B;
$pink: #F06666;
$red: #FF3030;
$lightPink: #FFD4C1;
$grey: #999999;
$darkGrey: #4A4A4A;
$lightGrey: #CACACA;
$superLightGrey: #E9E9E9;
$superDarkGrey: #333333;

/* Fonts */

$roboto: 'Roboto', sans-serif;
$firsNeue: 'TT Firs Neue', sans-serif;

$regular: 400;
$bold: 700;

/* Container */

$containerMaxWidth: 1290px;
$containerMaxWidth-1024: 963px;
$containerMaxWidth-768: 714px;
